<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tentative de paiement rejetée</h1>
    <p>Bonjour,</p>
    <p>Il semble que le paiement de votre dernière cotisation n'a pas fonctionné</p>
    <p>Pour maintenir votre cotisation à l'association, nous vous suggérons d'actualiser vos moyens de paiement rapidement</p>
    <p><%= link_to "Mettre à jour mon moyen de paiement", root_url, target: :_blank %></p>
  </body>
</html>